{% extends "app/facultylayout.html" %}

{% block content %}
<div>
    <form class="form-horizontal" method="post" role="form" enctype="multipart/form-data"> 
    {% csrf_token %}
    <div class="col-lg-8 col-sm-2" style="width:100%">
      <h3>Update Request Form</h3> 
       {% if Success %}
        <div class="btn btn-sm btn-success"><p style="align-content:center"> Updated Successfully </p></div>
        {% endif %}
         <div class="form-group">
          <label for="req_type" class="col-md-4 control-label">Request Type</label>
          <div class="col-md-6">           
            <input type="text" class="form-control" name="req_type" value="{{ req.Req_Type }}" >
          </div>
        </div>
         <div class="form-group">
          <label for="req_details" class="col-md-4 control-label">Request Details</label>
          <div class="col-md-8"> 
             <textarea  class="form-control" name="req_details" rows="5" cols="60" maxlength="250">{{ req.Req_details }}</textarea>
          </div>
        </div>
         
         <div class="form-group">
          <label for="sender_id" class="col-md-4 control-label">Sender ID</label>
          <div class="col-md-8">
              {% if req.visibilty_sender_id %}
             <input type="text" name="sender_id" class="form-control" value="{{ req.sender_id }}" />
              {% else %}
              <input type="text" name="sender_id" class="form-control" value="Not Visible" />
              {% endif %}
          </div>
          </div>
        <div class="form-group">
         <label for="date_req" class="col-md-4 control-label">Date of Request</label>
          <div class="col-md-8">          
              <input type="text" name="date_req" class="form-control" value="{{ req.dateof_request }}"/>
          </div>

        </div>
        <div class="form-group">
          <label for="reply" class="col-md-4 control-label" >Reply Details</label>
          <div class="col-md-8">
              <textarea name="reply" class="form-control" rows="10" cols="37" maxlength="250">{{ req.reply_details }}</textarea>
          </div>
         </div>
        <div class="form-group">
          <label for="reply_doc" class="col-md-4 control-label" >Ref Document</label>
          <div class="col-md-8">
              <input type="file" name="rep_doc" class="form-control" />
          </div>
         </div>
         <div class="form-group">
          <label for="req_status" class="col-md-4 control-label">Request Status:</label>
             <div class="col-md-8">
             <select class="form-control" name="status">
                 <option>Pending</option>
                 <option>In Progress</option>
                 <option>Processed</option>
             </select>
                 
           </div>
        </div>
        </div>
           <div class="col-md-8 col-md-offset-4">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
                
   </form>
  </div>
{% endblock %}